@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,10%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,15%,8%,1) 0, transparent 50%);
  background-attachment: fixed;
  min-height: 100vh;
}
